@font-face {
    font-family: TuesdayNight;
    src: url(/fonts/TuesdayNight-Regular.otf);
}
body {
    background-color: #d91f43;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.coll {
    margin-top: 150px;
    position: relative;
}
.img1 {
     width: 200px;
}
.img-1 {
    position: absolute;
    right: 155px;
    top: 30px;
}
.font {
    font-family: TuesdayNight;
    color: #24195d;
    font-size: 70px;
}
.font-1 {
    font-family: TuesdayNight;
    color: #ffa200;
    font-size: 70px;
}
.grid-container {
    display: grid;
    grid-template-columns: 45% 40% 15%;
}
.grid1{
    height: fit-content;
    position: relative;
    margin-left: -120px;
    margin-top: 80px;
}
.imag {
    width: 150px;
}
.imag1 {
    width: 200px;
}
.img2 {
    position: absolute;
    top: -200px;
    left: 200px;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
}
.img3 {
    position: absolute;
    left: 140px;
    top: -120px;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
}
.img4 {
    position : absolute;
    top: -160px;
    left: 230px;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
}
.img5 {
    position : absolute;
    top: -200px;
    left: 340px;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
}
.img6 {
    position : absolute;
    top: -30px;
    left: 400px;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
}
.img7 {
    position : absolute;
    top: 20px;
    left: 385px;
    z-index: -1;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
}
.img8 {
    position : absolute;
    top: 97px;
    left: 400px;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
}
.img9 {
    position : absolute;
    top: 25px;
    left: 250px;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
}
.img10 {
    position : absolute;
    top: 70px;
    left: 140px;
    animation: bounce 3s infinite;
}
/*
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { -webkit-transform:
         translateY(0); }
    40% {transform: translateY(-40px);} 
    60% {transform: translateY(-40px);}   
} */
h1 {
    color: white;
    font-size: 40px;
}
.grid2 {
    line-height: 1.9em;
}
.inside {
    margin-bottom: 70px;
}
.img11 {
    position: absolute;
    right: 282px;
    top: 155px;
}
.imag2 {
    width: 100px;
}
.imag3 {
    width: 60px;;
}
.ima {
    width: 100px;
}
.img12 {
    position: absolute;
    top: 216px;
    right: 350px;
}
.imc {
    width: 390px;
}
.navi {
    position: absolute;
    right: 40px;
    bottom: 10px;
}
.nav-link {
    color: white;
    font-size: 25px;
}
.navbar-nav {
    text-align: right;
}
a:visited{
    border-bottom: 2px solid #ffa200;
}
a:hover {
    border-bottom: 2px solid #ffa200; 
}
a:active {
    border-bottom: 2px solid #ffa200;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {
    .grid-container{
        grid-template-columns: 100%;
    }
    .grid2 {
        display: none;
    }
    .navbar-nav {
        text-align: center;
    }

}